:root {
  --color-primary: #57658a;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #282828;
  --color-background-500: #121212;
  --color-background-900: #121212;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-text);
  background-color: var(--color-background-900);
  padding-top: 7.2rem; /* 添加與導航欄相同高度的 padding-top */
  margin: 0;
}

.trailer {
  width: 100%;
  height: calc(100vh - 7.2rem);
}

#player {
  width: 100%;
  height: calc(100vh - 7.2rem);
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--color-background-100);
  color: var(--color-text-dark);
}

button.active {
  background-color: var(--color-primary);
  color: #fff;
}

.movie-images-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 20px;
  position: relative;
}

.movie-image-container {
  overflow: hidden;
  transition: transform 0.3s ease;
}

.movie-image-container:hover {
  transform: scale(1.1);
}

.movie-image {
  width: 150px;
  height: 225px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-images-container button {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.movie-images-container .prev {
  left: 0;
}

.movie-images-container .next {
  right: 0;
}

.movie-images-container:hover button {
  display: block;
}

/* player */

#player-container {
  position: relative;
}

#button-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1;
}

#prev-button,
#next-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

#player-container:hover #prev-button,
#player-container:hover #next-button {
  opacity: 1;
}
